@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}

.remove-account-container {
	display: inline-block;
	position: relative;
}

.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}

.signin-form-wrap {
	padding: 30px 30px 15px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, .8);
	border-radius: 4px;
}

