<section data-ng-controller="EventsController" data-ng-init="find()">
    <div class="page-header">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h1>Events</h1>
            </div>
            <div class="col-xs-12 col-md-6">
                <div id="event-filers">
                    <!-- filter options go here. Filter by area, cost, or view. View being either list view or calendar view? --> 
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
            <div data-ng-repeat="event in events | orderBy:'date'">
                <div class="col-md-6">
                    <div class="panel panel-dark">
                      <div class="panel-heading">
                        <a data-ng-href="#!/events/{{event._id}}">
                        <h3 data-ng-bind="event.name" class="panel-title"> </h3> 
                        <span  class="pull-right" data-ng-bind="event.date | date:'shortDate'"></span></a> 
                      </div>
                      <div class="panel-body" id="event-panel-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-7">
                                <p><strong>Host:</strong> <span data-ng-bind="event.host"></span></p>
                                <p><strong>Location:</strong> <span data-ng-bind="event.location"></span></p>
                                <address><strong>Address:</strong> <a ng-href="http://maps.google.com/maps?q={{event.address}}" data-ng-bind="event.address"  target="_blank"></a></address>
                                <p><strong>Date:</strong> <span data-ng-bind="event.date | date:'shortDate'"></span></p>
                                <p><strong>Time:</strong> <span data-ng-bind="event.time"></span></p>
                                <p><strong>Cost:</strong> <span data-ng-bind="event.cost"></span></p>
                                <p><strong>Details:</strong> <span data-ng-bind="event.details"></span></p>
                            </div>
                            <div class="col-md-5">
                                <img class="pull-right" src="http://placehold.it/200x150">
                            </div>
                        </div>
                      </div>
                      <div class="panel-footer">

                        <small class="list-group-item-text">
                            Posted on
                            <span data-ng-bind="event.created | date:'mediumDate'"></span>
                            by
                            <span data-ng-bind="event.user.displayName"></span>
                        </small>
                        <div class="pull-right" data-ng-show="authentication.user._id == event.user._id">
                            <a class="" data-toggle="tooltip" data-placement="top" title="Edit Event" href="/#!/events/{{event._id}}/edit">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="alert alert-warning text-center" data-ng-hide="!events.$resolved || events.length">
        	No Events yet, why don't you <a href="/#!/events/create">create one</a>?
        </div>
    </div>
    
    
</section>
